<!DOCTYPE html>
<html>
<head>
  <title>Element Watcher Options</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500,700,700italic">
  <link rel="stylesheet" href="../dist/milligram.min.css">
  <link rel="stylesheet" href="../dist/style.css">
  <link rel="stylesheet" href="options.css">
</head>
<body>
<div class="container" id="vue-root">
  <h3><img id="logo" src="../icons/icon.png"/> Web Element Watcher</h3>

  <h5>Watchers</h5>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Url</th>
        <th>Saved value</th>
        <th>Current value</th>
        <th>Last update</th>
        <th class="right-aligned">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="w in watchers" class="watcher" :class="{changed: w.text!=w.current}">
        <td>{{w.id}}</td>
        <td class="desc">{{less(w.desc)}}</td>
        <td class="url"><a @click="navigate(w)">{{less(w.url)}}</a></td>
        <td>{{less(w.text)}}</td>
        <td class="current"><div class="dot"></div> {{less(w.current)}}</td>
        <td>{{humandate(w.update_time)}}</td>
        <td class="auto right-aligned">
          <div class="button button-outline green">Refresh</div>
          <div class="button button-outline blue">Edit</div>
          <div class="button button-outline red" @click="remove(w)">Remove</div>
        </td>
      </tr>
      <tr v-if="!watchers.length" style="font-style: italic; opacity: 0.5;">
        <td></td><td>No watcher</td><td></td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
  <div class="right-aligned">
    <div class="button button-outline green">Refresh All</div>
    <div v-if="false" class="button button-outline red" @click="remove_all()">Remove All</div>
  </div>

  <h5>Options</h5>
  <table>
    <tr><th>Checking Frequence</th><td>
      <span>Every</span>
      <select>
        <option selected>15 min</option>
        <option>1 hour</option>
        <option>12 hours</option>
        <option>1 day</option>
        <option>3 days</option>
        <option>1 week</option>
        <option>1 month</option>
      </select>
    </td></tr>
  </table>
</div>

<script src="../utils/storage.js"></script>
<script src="../dist/vue.min.js"></script>
<script src="../dist/moment.min.js"></script>
<script src="options.js"></script>
</body>
</html>
