<!DOCTYPE html>
<html>
<head>
  <title>Tracker Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500,700,700italic">
  <link rel="stylesheet" href="../dist/milligram.min.css">
  <link rel="stylesheet" href="../dist/material-icons/material-icons.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
<div class="container" id="vue-root">
  <h3><img class="logo" src="../icons/icon_200.png"/> Tracker</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Value</th>
        <th>Last update</th>
        <th style="text-align:right;">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="w in watchers" class="watcher" :class="{changed: w.text!=w.current}">
        <td class="id">{{w.id}}</td>
        <td class="desc">
          <a @click="navigate(w)">{{w.desc}}</a>
          <span class="tooltip">
            <i class="material-icons link-icon">link</i>
            <span class="tooltiptext right">{{w.url}}</span>
          </span>
          <span class="toolbar behaviors">
            <i class="material-icons link-icon" @click="toggle_tab(w)" :class="{enabled:w.checker=='tab'}">tab</i>
            <i class="material-icons link-icon" @click="toggle_background(w)" :class="{enabled:w.no_background}">do_not_disturb_off</i>
          </span>
        </td>
        <td class="current">
          <div v-if="w.text!=w.current" class="orginal tooltip">
            <div class="text">{{less(w.text)}}</div>
            <span class="tooltiptext top">{{w.text}}</span>
          </div>
          <span class="tooltip">
            <div class="text">{{less(w.current)}}</div>
            <span class="tooltiptext top">{{w.current}}</span>
          <span>
        </td>
        <td style="min-width:150px">
          <span v-if="w.checking" class="checking-label">Checking...</span>
          <span v-else>{{humandate(w.update_time)}}</span>
        </td>
        <td class="toolbar right-aligned">
          <i class="material-icons" :class="{ghost: !w.disabled}" v-if="false">do_not_disturb</i>
          <i class="material-icons" @click="reset(w)" v-if="w.text!=w.current">check</i>
          <i class="material-icons" @click="refresh(w)" @contextmenu.prevent="refresh(w,'tab')">sync</i>
          <i class="material-icons">edit</i>
          <i class="material-icons red" @click="remove(w)">delete</i>
        </td>
      </tr>
      <tr v-if="!watchers.length" style="font-style: italic; opacity: 0.5;">
        <td></td><td>No watcher</td><td></td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
  <div class="right-aligned">
    <div class="button button-outline green" @click="refresh_all()" @contextmenu.prevent="refresh_all('tab')">Recheck All</div>
    <div class="button button-outline red" @click="remove_all()">Remove All</div>
    <div class="button button-outline orange" @click="export_data()">Export</div>
    <div class="button button-outline blue upload">
      <input type="file" @change="upload_and_import($event)" accept=".json"/>
      Import
    </div>
  </div>


  <h5>Options</h5>
  <ul>
    <li>
      <label class="switch" style="margin: 0 0.5em 0.2em 0.5em;">
        <input v-model="configs.background_refresh" type="checkbox">
        <div class="slider round"></div>
      </label>
      <span>Background Checking</span>
      <select v-model="configs.background_timeout" class="select"
             :disabled="!configs.background_refresh">
        <option :value="10000">10s</option>
        <option :value="30000">30s</option>
        <option :value="60000">1min</option>
        <option :value="120000">2min</option>
        <option :value="300000">5min</option>
        <option :value="600000">10min</option>
        <option :value="900000">15min</option>
        <option :value="1800000">30min</option>
        <option :value="3600000">1 hour</option>
      </select>
    </td></tr>
    <li>
      <label class="switch" style="margin: 0 0.5em 0.2em 0.5em;">
        <input type="checkbox" v-model="configs.check_on_start">
        <div class="slider round"></div>
      </label>
      <span>Recheck all trackers on Chrome start</span>
    </li>
    <li>
      <label class="switch" style="margin: 0 0.5em 0.2em 0.5em;">
        <input type="checkbox" v-model="configs.show_values">
        <div class="slider round"></div>
      </label>
      <span>Show values on popup window</span>
    </li>
  </ul>
  <hr>
  <footer>
    <div class="right-aligned">made by <a href="https://github.com/antfu">Anthony Fu</a></div>
  </footer>
</div>

<script src="../utils/storage.js"></script>
<script src="../dist/vue.min.js"></script>
<script src="../dist/moment.min.js"></script>
<script src="../utils/mixin.js"></script>
<script src="../utils/app.js"></script>
</body>
</html>
