body {
  font-family: sans-serif;
  font-size  : 1.2em;
}
html {
  opacity: 0.95;
}
box {
  display      : block;
  padding      : 0.5em 1em;
  margin       : 1em;
  background   : #fff;
  border-radius: 0.6em;
  box-shadow   : 1px 1px 19px 0 rgba(50, 50, 50, 0.3);
}
title {
  display    : block;
  font-weight: bold;
  font-size  : 1.4em;
}
desc {
  display: block;
  color  : rgba(0,0,0,0.4);
}
field {
  display      : inline-block;
  background   : rgba(0,0,0,0.04);
  border-radius: 0.2em;
  word-break   : break-all;
  padding      : 0 0.3em 0.1em;
  color        : rgba(0,0,0,0.7);
}
.button {
  margin        : 1em 0.3em 0.6em 0;
  padding-bottom: 0.1em;
}
table {
  margin-bottom: 0.3em;
}
#close {
  position  : absolute;
  top       : 1.7em;
  right     : 2.7em;
  opacity   : 0.6;
  transition: opacity 0.15s ease-in;
}
#close:hover {
  opacity: 0.9;
}
