<!DOCTYPE html>
<html>
<head>
  <title>Tracker Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,500,700,700italic">
  <link rel="stylesheet" href="../dist/milligram.min.css">
  <link rel="stylesheet" href="../dist/material-icons/material-icons.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
<div class="container" id="vue-root">
  <h3><img id="logo" src="../icons/icon_200.png"/> Tracker</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Url</th>
        <th>Value</th>
        <th>Last update</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="w in watchers" class="watcher" :class="{changed: w.text!=w.current}">
        <td style="width:2em;">{{w.id}}</td>
        <td class="desc">{{w.desc}}</td>
        <td style="max-width:13em;" class="url"><a @click="navigate(w)">{{less(w.url)}}</a></td>
        <td class="current">
          <div v-if="w.text!=w.current" class="orginal">{{w.text}}</div>
          <span>{{less(w.current)}}<span>
        </td>
        <td style="min-width:150px">
          <span v-if="w.checking" class="checking-label">Checking...</span>
          <span v-else>{{humandate(w.update_time)}}</span>
        </td>
        <td class="toolbar right-aligned">
          <i class="material-icons" @click="reset(w)" v-if="w.text!=w.current">check</i>
          <i class="material-icons" @click="refresh(w)">refresh</i>
          <i class="material-icons">edit</i>
          <i class="material-icons red" @click="remove(w)">delete</i>
        </td>
      </tr>
      <tr v-if="!watchers.length" style="font-style: italic; opacity: 0.5;">
        <td></td><td>No watcher</td><td></td><td></td><td></td><td></td>
      </tr>
    </tbody>
  </table>
  <div class="right-aligned">
    <div class="button button-outline green" @click="refresh_all()">Refresh All</div>
    <div class="button button-outline orange" @click="export_data()">Export</div>
    <div class="button button-outline blue" id="upload_btn"><input type="file" id="upload_input" accept=".json"/>Import</div>
    <div v-if="false" class="button button-outline red" @click="remove_all()">Remove All</div>
  </div>

  <h5>Options</h5>
  <table>
    <tr><td>Behavior</td>
    <td><input type="checkbox" style="vertical-align: inherit;"/> Refresh all trackers on Chrome start</td>
    </tr>
    <tr><td>Checking Frequence</td><td>
      <span>Every</span>
      <select>
        <option>15 min</option>
        <option>1 hour</option>
        <option>12 hours</option>
        <option>1 day</option>
        <option>3 days</option>
        <option>1 week</option>
        <option>1 month</option>
      </select>
    </td></tr>
  </table>

  <hr>
  <footer>
    <div class="right-aligned">Made by <a href="https://github.com/antfu">Anthony Fu</a></div>
  </footer>
</div>

<script src="../utils/storage.js"></script>
<script src="../dist/vue.min.js"></script>
<script src="../dist/moment.min.js"></script>
<script src="../utils/mixin.js"></script>
<script src="options.js"></script>
</body>
</html>
