<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../dist/milligram.min.css">
  <link rel="stylesheet" href="../dist/material-icons/material-icons.css">
  <link rel="stylesheet" href="../dist/style.css">
  <link rel="stylesheet" href="panel.css">
</head>
<body>
  <div id="vue-root">
    <div class="toolbar bold right-aligned">
      <i class="material-icons" v-if="false">chevron_left</i>
      <i class="material-icons" @click="options">more_vert</i>
      <i class="material-icons" @click="cancel">close</i>
    </div>

    <box v-for="t in trackers">
      <title>{{t.desc}}</title>
      <span>{{t.current}}</span>
      <div class="toolbar right-aligned">
        <i v-if="false" class="material-icons">edit</i>
        <i class="material-icons" @click="remove(t)">delete</i>
      </div>
    </box>
    <box>
      <title>New Tracker</title>
      <span>You can press <field>Shift</field> to select element</span>

      <table>
        <tr><th>Desc</th><td><input type="text" placeholder="Description" v-model="adding.desc"></td></tr>
        <tr><th>Url</th><td><field>{{adding.url}}</field></td></tr>
        <tr><th>XPath</th><td><field>{{adding.xpath}}</field></td></tr>
        <tr><th>Text</th><td><field>{{adding.text}}</field></td></tr>
      </table>
      <div class="right-aligned">
        <div class="button button-outline green" @click="add">Add</div>
        <div class="button button-outline orange" @click="cancel">Cancel</div>
      </div>
    </box>
  </div>

  <script src="../dist/vue.min.js"></script>
  <script src="panel.js"></script>
</body>
</html>
